@using Microsoft.AspNetCore.Identity

@inject SignInManager<Core.ApplicationUser> SignInManager
@inject UserManager<Core.ApplicationUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" >@UserManager.GetUserName(User)!</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Account</a>
                    @*@if (User.IsInRole("Admin"))
                    {*@
                    <a class="dropdown-item" asp-area="" asp-page="/Adminitration/AdminUser/ListUser">Users</a>
                    <a class="dropdown-item" asp-area="" asp-page="/Adminitration/AdminRole/ListRoles">Roles</a>
                    <a class="dropdown-item" asp-page="/Products/List">Products</a>
                    <a class="dropdown-item" asp-page="/Order/AllOrders">All Orders</a>
                    @*}*@
                </div>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-light">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item" style="color:#28a745">
                <a class="nav-link text-light" id="register" asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user-plus" style="color:#28a745; margin-right:2px"></i>Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-user-check" style="color:#28a745; margin-right:2px"></i>Login</a>
            </li>
        }
    </ul>
